* {
    box-sizing: border-box;
}

body {
    background-color: #edf0f1;
    padding: 50px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.429;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75vh;
    height: 75vh;
    background-image: url(../images/notFound.svg);
    background-size: cover;
    text-align: center;
    font-size: 6vh;
}

.toHome {
    font-size: 5vh;
}